{% extends "blog/base.html" %}
{% block content %}
<head>
    <style>



.form-label {
  position: absolute;
  left: 0;
  top: 16px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.form-label-log {
  position: absolute;
  left: 0;
  top: 16px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transform: translateY(-125%);
  font-size: .80em;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 80%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;

  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.form-input.focus{
    box-shadow: 0 2px 0 0 blue;
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}


.form-control{
    font-weight: 400;
    font-size: 14px;
}



.pcs, .cur, .per {
  white-space: nowrap;
}
.pcs:after {
  content: " pcs";
}
.cur:before {
  content: "$";
}
.per:after {
  content: "%";
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  padding: 0.2em 2em;
  color: #555;
}
table {
  position: relative;
  width: 100%;
}
table th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font: 0.9em 'Oswald', sans-serif;
}
table th, table td {
  padding: 0.4em;
}
table.fold-table {
  background: white;
  color: #555;
}
table.fold-table > tbody > tr.view {
  <!--font-family: 'Droid Serif', serif;-->
  transition: all 0.3s ease;
}
table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
}
table.fold-table > tbody > tr.view td:first-child, table.fold-table > tbody > tr.view th:first-child {
  position: relative;
  padding-left: 20px;
}
table.fold-table > tbody > tr.view td:first-child:before, table.fold-table > tbody > tr.view th:first-child:before {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 9px;
  height: 16px;
  margin-top: -8px;
  font: 16px fontawesome;
  content: "\f0d7";
  transition: all 0.3s ease;
}
table.fold-table > tbody > tr.view:nth-child(4n-1) {
  <!--background: #eee;-->
}
table.fold-table > tbody > tr.view:hover {
  background: #ffa;
}
table.fold-table > tbody > tr.view.open {
  background: #5f788a;
  color: white;
}
table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
  transform: rotate(-180deg);
  color: white;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}
.fold-content {
  padding: 0.5em;
}
.fold-content h3 {
  margin-top: 0;
}
.fold-content > table {
  background: white;
  color: #555;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
}
.fold-content > table > tbody > tr {
  <!--font-family: 'Droid Serif', serif;-->
  cursor: pointer;
}
.fold-content > table > tbody > tr:nth-child(even) {
  background: #eee;
}
.fold-content > table > tbody > tr:hover {
  background: #ffa;
}
.visible-small {
  display: none;
}
.visible-big {
  display: block;
}



 table th, table td {
    padding: 1em 0.2em;
  }
  table th {
    vertical-align: bottom;
    padding-bottom: 0;
  }
  table.small-friendly > thead {
    display: none;
  }
  table.small-friendly > tbody > tr > td, table.small-friendly > tbody > tr > th {
    position: relative;
    padding: 0;
    padding-left: 50%;
    display: block;
    vertical-align: top;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  table.small-friendly > tbody > tr > td:before, table.small-friendly > tbody > tr > th:before {
    position: absolute;
    top: 0;
    left: 0.5em;
    max-width: 50%;
    content: attr(data-th) ": ";
    display: block;
    font-weight: bold;
  }
  table.small-friendly > tbody > tr > td:first-child, table.small-friendly > tbody > tr > th:first-child {
    margin-top: 1em;
  }
  table.small-friendly > tbody > tr > td:last-child, table.small-friendly > tbody > tr > th:last-child {
    margin-bottom: 1em;
    border: 0;
  }
  .visible-small {
    display: block;
  }
  .visible-big {
    display: none;
  }



@media (max-width: 700px) {
  body {
    font-size: 0.8em;
    padding: 0 10px;
  }
  table th, table td {
    padding: 1em 0.2em;
  }
  table th {
    vertical-align: bottom;
    padding-bottom: 0;
  }
  table.small-friendly > thead {
    display: none;
  }
  table.small-friendly > tbody > tr > td, table.small-friendly > tbody > tr > th {
    position: relative;
    padding: 0;
    padding-left: 50%;
    display: block;
    vertical-align: top;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  table.small-friendly > tbody > tr > td:before, table.small-friendly > tbody > tr > th:before {
    position: absolute;
    top: 0;
    left: 0.5em;
    max-width: 50%;
    content: attr(data-th) ": ";
    display: block;
    font-weight: bold;
  }
  table.small-friendly > tbody > tr > td:first-child, table.small-friendly > tbody > tr > th:first-child {
    margin-top: 1em;
  }
  table.small-friendly > tbody > tr > td:last-child, table.small-friendly > tbody > tr > th:last-child {
    margin-bottom: 1em;
    border: 0;
  }
  .visible-small {
    display: block;
  }
  .visible-big {
    display: none;
  }
}



    </style>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
          rel="stylesheet"/>
</head>

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col-sm-4 pb-2">

            <label class="text-info">Total Trades:</label>
            <medium class="text-muted">{{ trades.total }}</medium>

        </div>
        <div class="col-sm-4 pb-2">
            <label class="text-info">Total Trade Wins:</label>
            <medium class="text-muted">{{ trades.total_wins }}</medium>
        </div>

        <div class="col-sm-4 pb-2">
            <label class="text-info">Total Trade Losses:</label>
            <medium class="text-muted">{{ trades.total_loss }}</medium>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-4 pb-2">

            <label class="text-info">Avg Winning Trades:</label>
            <medium class="text-muted">{{ trades.win_avg_rate }}%</medium>

        </div>
        <div class="col-sm-4 pb-2">
            <label class="text-info">Avg Losing Trades:</label>
            <medium class="text-muted">{{ trades.loss_avg_rate }}%</medium>
        </div>

        <div class="col-sm-4 pb-2">
            <label class="text-info">Total Cumm P/L:</label>
            <medium class="text-muted">${{ trades.total_pl }}</medium>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-4 pb-2">

            <label class="text-info">Total Amount Profit:</label>
            <medium class="text-muted">${{ trades.trade_profit }}</medium>

        </div>
        <div class="col-sm-4 pb-2">
            <label class="text-info">Total Amount Losses:</label>
            <medium class="text-muted">${{ trades.trade_losses }}</medium>
        </div>

        <div class="col-sm-4 pb-2">
            <label class="text-info">Avg % Gain:</label>
            <medium class="text-muted">{{ trades.avg_gain }}%</medium>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-4 pb-2">

            <label class="text-info">Avg % Loss:</label>
            <medium class="text-muted">{{ trades.avg_loss }}%</medium>

        </div>
    </div>

</div>

<div class="container">
    <div class="card card-outline-secondary">
        <div class="card-body">
            <div class="row" id="search">
                <!--<form id="search-form" action="" class="form-inline" method="POST" enctype="multipart/form-data">-->

                <div class=" form-group col-sm-3">
                    <input id="myticker" class="form-control" type="text" placeholder="Ticker" style="text-transform:uppercase"/>
                </div>

                <!--<div class=" form-group col-sm-6">
                    <input class="form-control" type="text" placeholder="Search"/>
                </div>-->

                <div class="form-group col-sm-3">
                    <div class="input-group date">
                        <input name="datepicker" class="form-control" placeholder="Start Date"
                               data-date-format="mm/dd/yyyy" id="datepicker">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar" style="color: black"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-3">
                    <div class="input-group date">
                        <input name="datepickerend" class="form-control" placeholder="End Date"
                               data-date-format="mm/dd/yyyy" id="datepickerend">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar" style="color: black"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 col-xs-6">
                    <select data-filter="make" class="filter-make filter form-control">
                        <option value="">Select Category</option>
                        {% if categories %}
                        {% for category in categories %}
                        <option>{{category.category}}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="">Show All</option>
                    </select>
                </div>

                <!-- <div class="form-group col-sm-3">
                     <button type="submit" class="btn btn-block btn-primary">Search</button>
                 </div>-->
                <!--</form>-->
            </div>
            <div class="row" id="filter">
                <!--<form>-->
                <div class="form-group col-sm-3 col-xs-6">
                    <select data-filter="make" class="filter-make filter form-control">
                        <option value="">Select Strategy</option>
                        {% if strategies %}
                        {% for strategy in strategies %}
                        <option>{{strategy.strategy}}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="">Show All</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-xs-6">
                    <select data-filter="model" class="filter-model filter form-control">
                        <option value="">Select Industry</option>

                        {% if industries %}
                        {% for industry in industries %}
                        <option>{{industry.industry}}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="">Show All</option>
                    </select>
                </div>
                <!--<div class="form-group col-sm-3 col-xs-6">
                    <select data-filter="type" class="filter-type filter form-control">
                        <option value="">Select Type</option>
                        <option value="">Show All</option>
                    </select>
                </div>-->
                <div class="form-group col-sm-3 col-xs-6">
                    <select data-filter="price" class="filter-price filter form-control">
                        <option value="">Select Price Range</option>
                        <option value="">Show All</option>
                    </select>
                </div>
                <!--</form>-->


            </div>

            <div class="row align-items-end">
                <div class="form-group purple-border col-sm-9">
                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"
                              placeholder="Notes or News"></textarea>
                </div>

                <div class="form-group col-sm-3">
                    <button id="mysearch" class="btn btn-block btn-primary float-right">Search</button>
                </div>


                <!--   <div class="col-sm-4">
                       <div class="input-group date">
                           <input name="datepicker" class="form-control" placeholder="Start Date"
                                  data-date-format="mm/dd/yyyy" id="datepicker">
                           <div class="input-group-append">
                               <span class="input-group-text"><i class="fa fa-calendar" style="color: black"></i></span>
                           </div>
                       </div>
                   </div>-->

            </div>


            <div class="row" id="products">

            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="table-responsive mt-2">
        <table id="tablelogs" class="fold-table">
            <thead class="thead-dark">
            <tr>

                <th>Ticker</th>
                <th><span class="visible-small">Entry Date/Time</span><span class="visible-big">Entry Date/Time</span>
                </th>
                <th>Equity</th>
                <th>Position</th>
                <th><span class="visible-small">Industry</span><span class="visible-big">Industry</span></th>
                <th><span class="visible-small">Strategy</span><span class="visible-big">Strategy</span></th>
                <!--<th><span class="visible-small">Entry Date/Time</span><span class="visible-big">Entry Date/Time</span></th>-->
                <th><span class="visible-small">CUMM P/L</span><span class="visible-big">CUMM P/L</span></th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}

            <tr class="view">

                <td>{{ log.ticker }}</td>
                <td class="">{{ log.entrydate|date:'m/d/Y H:i A' }}</td>
                <td class="cur">{{ log.equity|floatformat:"2"}}</td>
                <td class="">{{ log.position }}</td>
                <td>{{ log.industry }}</td>
                <td class="">{{ log.strategy }}</td>
                <!--<td class="">{{ log.entrydate|date:'m/d/Y H:i A' }}</td>-->
                <td class="cur">{{ log.cummpl |floatformat:"2"}}</td>
            </tr>
            <tr class="fold">
                <td colspan="7">
                    <div class="fold-content">
                        <h3>{{ log.ticker }}</h3>
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <h4><a class="article-title text-info" href="#">Notes</a></h4>

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                                          readonly>{{ log.notes }}</textarea>
                            </div>
                        </div>
                        <!--<p>{{ log.notes }}</p>-->
                        {% if log.news %}
                        <div class="row mt-2">
                            <div class="col-sm-12"><h4><a class="article-title text-info" href="#">News</a></h4>
                                <textarea
                                        class="form-control" id="exampleFormControlTextarea2" rows="3"
                                        readonly>{{ log.news }}</textarea>
                            </div>
                        </div>
                        {% endif %}
                        <table class="small-friendly mt-4">
                            <thead>
                            <tr>
                                <th><span class="visible-small" title="Strategy">Strategy</span><span
                                        class="visible-big">Strategy</span></th>
                                <th><span class="visible-small" title="Company name">Chart Category</span><span
                                        class="visible-big">Chart Category</span></th>
                                <th><span class="visible-small" title="Customer number">Float</span><span
                                        class="visible-big">Float</span></th>
                                <th><span class="visible-small" title="Customer name">Prev Day Close</span><span
                                        class="visible-big">Prev Day Close</span></th>
                                <th><span class="visible-small" title="Insurance number">Prev Day High</span><span
                                        class="visible-big">Prev Day High</span></th>
                                <th><span class="visible-small" title="Strategy">Prev Day Low</span><span
                                        class="visible-big">Prev Day Low</span></th>
                                <th>Type</th>
                                <!--<th><span class="visible-small" title="Current">Cur.</span><span class="visible-big">Current</span></th>-->
                                <!--<th>Diff</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <!--<h4><a class="article-title text-info text-center" href="#">Details</a></h4>-->
                            <tr>

                                <td data-th="Strategy">{{ log.strategy }}</td>
                                <td data-th="Chart Category">{{ log.category }}</td>
                                <td data-th="Float">{{ log.float }}M</td>
                                <td data-th="Prev Day Close">{{ log.prevdayclose }}</td>
                                <td data-th="Prev Day High">{{ log.prevdayhigh }}</td>
                                <td data-th="Prev Day Low">{{ log.prevdaylow }}</td>
                                <td data-th="Type"><span class="">{{ log.type }}</span></td>
                                <!--     <td data-th="Current"><span class="cur">33 000</span></td>
                                     <td data-th="Diff"><span class="cur">13 000</span></td>-->
                            </tr>

                            <tr>

                                <td data-th="Entry Date/Time">{{ log.entrydate|date:'m/d/Y H:i A' }}</td>
                                <td data-th="Entry Price">{{ log.entryprice }}</td>
                                <td data-th="Exit Price">{{ log.exitprice }}</td>
                                <td data-th="Position">{{ log.position}}</td>
                                <td data-th="Percentage" class="per">{{ log.percentage |floatformat:"2" }}</td>
                                <td data-th="Gap % Entry - Prev Close" class="per">{{ log.gapentry |floatformat:"2"}}
                                </td>
                                <td data-th="PnL"><span class="cur">{{ log.profit |floatformat:"2" }}</span></td>
                                <td data-th="Exit Equity"><span class="cur">{{ log.exitvalue }}</span></td>
                                <td data-th="Exit Date/Time"><span class="">{{ log.exitdate|date:'m/d/Y H:i A' }}</span>
                                </td>
                                <td data-th="Time Elapsed"><span
                                        class="">{{ log.entrydate|timesince:log.exitdate }}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

            {% endfor %}

            </tbody>
        </table>


    </div>

</div>

<!--<div class="container">
    <div class="table-responsive mt-2">
        <table class="fold-table">
            <thead>
            <tr>

                <th>Ticker</th>
                <th><span class="visible-small">Entry Date/Time</span><span class="visible-big">Entry Date/Time</span>
                </th>
                <th>Equity</th>
                <th>Position</th>
                <th><span class="visible-small">Industry</span><span class="visible-big">Industry</span></th>
                <th><span class="visible-small">Strategy</span><span class="visible-big">Strategy</span></th>
                &lt;!&ndash;<th><span class="visible-small">Entry Date/Time</span><span class="visible-big">Entry Date/Time</span></th>&ndash;&gt;
                <th><span class="visible-small">CUMM P/L</span><span class="visible-big">CUMM P/L</span></th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}

            <tr class="view">

                <td>{{ log.ticker }}</td>
                <td class="">{{ log.entrydate|date:'m/d/Y H:i A' }}</td>
                <td class="cur">{{ log.equity }}</td>
                <td class="">{{ log.position }}</td>
                <td>{{ log.industry }}</td>
                <td class="">{{ log.strategy }}</td>
                &lt;!&ndash;<td class="">{{ log.entrydate|date:'m/d/Y H:i A' }}</td>&ndash;&gt;
                <td class="cur">{{ log.cummpl |floatformat:"2"}}</td>
            </tr>
            <tr class="fold">
                <td colspan="7">
                    <div class="fold-content">
                        <h3>{{ log.ticker }}</h3>
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <h4><a class="article-title text-info" href="#">Notes</a></h4>

                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                                          readonly>{{ log.notes }}</textarea>
                            </div>
                        </div>
                        &lt;!&ndash;<p>{{ log.notes }}</p>&ndash;&gt;
                        {% if log.news %}
                        <div class="row mt-2">
                            <div class="col-sm-12"><h4><a class="article-title text-info" href="#">News</a></h4>
                                <textarea
                                        class="form-control" id="exampleFormControlTextarea2" rows="3"
                                        readonly>{{ log.news }}</textarea>
                            </div>
                        </div>
                        {% endif %}
                        <table class="small-friendly mt-4">
                            <thead>
                            <tr>
                                <th><span class="visible-small" title="Strategy">Strategy</span><span
                                        class="visible-big">Strategy</span></th>
                                <th><span class="visible-small" title="Company name">Chart Category</span><span
                                        class="visible-big">Chart Category</span></th>
                                <th><span class="visible-small" title="Customer number">Float</span><span
                                        class="visible-big">Float</span></th>
                                <th><span class="visible-small" title="Customer name">Prev Day Close</span><span
                                        class="visible-big">Prev Day Close</span></th>
                                <th><span class="visible-small" title="Insurance number">Prev Day High</span><span
                                        class="visible-big">Prev Day High</span></th>
                                <th><span class="visible-small" title="Strategy">Prev Day Low</span><span
                                        class="visible-big">Prev Day Low</span></th>
                                <th>Type</th>
                                &lt;!&ndash;<th><span class="visible-small" title="Current">Cur.</span><span class="visible-big">Current</span></th>&ndash;&gt;
                                &lt;!&ndash;<th>Diff</th>&ndash;&gt;
                            </tr>
                            </thead>
                            <tbody>
                            &lt;!&ndash;<h4><a class="article-title text-info text-center" href="#">Details</a></h4>&ndash;&gt;
                            <tr>

                                <td data-th="Strategy">{{ log.strategy }}</td>
                                <td data-th="Chart Category">{{ log.category }}</td>
                                <td data-th="Float">{{ log.float }}M</td>
                                <td data-th="Prev Day Close">{{ log.prevdayclose }}</td>
                                <td data-th="Prev Day High">{{ log.prevdayhigh }}</td>
                                <td data-th="Prev Day Low">{{ log.prevdaylow }}</td>
                                <td data-th="Type"><span class="">{{ log.type }}</span></td>
                                &lt;!&ndash;     <td data-th="Current"><span class="cur">33 000</span></td>
                                     <td data-th="Diff"><span class="cur">13 000</span></td>&ndash;&gt;
                            </tr>

                            <tr>

                                <td data-th="Entry Date/Time">{{ log.entrydate|date:'m/d/Y H:i A' }}</td>
                                <td data-th="Entry Price">{{ log.entryprice }}</td>
                                <td data-th="Exit Price">{{ log.exitprice }}</td>
                                <td data-th="Position">{{ log.position}}</td>
                                <td data-th="Percentage" class="per">{{ log.percentage |floatformat:"2" }}</td>
                                <td data-th="Gap % Entry - Prev Close" class="per">{{ log.gapentry |floatformat:"2"}}
                                </td>
                                <td data-th="PnL"><span class="cur">{{ log.profit |floatformat:"2" }}</span></td>
                                <td data-th="Exit Equity"><span class="cur">{{ log.exitvalue }}</span></td>
                                <td data-th="Exit Date/Time"><span class="">{{ log.exitdate|date:'m/d/Y H:i A' }}</span>
                                </td>
                                <td data-th="Time Elapsed"><span
                                        class="">{{ log.entrydate|timesince:log.exitdate }}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

            {% endfor %}
            &lt;!&ndash; Row &ndash;&gt;
            &lt;!&ndash;  <tr class="view">
                <td>Company Name</td>
                <td class="pcs">457</td>
                <td class="cur">6 535 178</td>
                <td>-</td>
                <td class="per">50,71</td>
                <td class="per">49,21</td>
                <td class="per">0</td>
              </tr>
              <tr class="fold">
                <td colspan="7">
                  <div class="fold-content">
                    <h3>Company Name</h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <table class="small-friendly">
                      <thead>
                        <tr>
                          <th><span class="visible-small" title="Company name">Comp. name</span><span class="visible-big">Company name</span></th>
                          <th><span class="visible-small" title="Customer number">Cust.#</span><span class="visible-big">Customer no</span></th>
                          <th><span class="visible-small" title="Customer name">Cust. name</span><span class="visible-big">Customer name</span></th>
                          <th><span class="visible-small" title="Insurance number">Ins.#</span><span class="visible-big">Insurance no</span></th>
                          <th><span class="visible-small" title="Strategy">Str.</span><span class="visible-big">Strategy</span></th>
                          <th>Start</th>
                          <th><span class="visible-small" title="Current">Cur.</span><span class="visible-big">Current</span></th>
                          <th>Diff</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-th="Company name">Sony</td>
                          <td data-th="Customer no">13245</td>
                          <td data-th="Customer name">John Doe</td>
                          <td data-th="Insurance no">064578</td>
                          <td data-th="Strategy">A, 100%</td>
                          <td data-th="Start"><span class="cur">20 000</span></td>
                          <td data-th="Current"><span class="cur">33 000</span></td>
                          <td data-th="Diff"><span class="cur">13 000</span></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>&ndash;&gt;
            </tbody>
        </table>


    </div>

</div>-->

{% for log in logs %}
<!--<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            {% if log.profit >= 0 %}
            <h2><a class="article-title text-info" href="#">{{ log.ticker }}</a></h2>
            {% else %}
            <h2><a class="article-title text-warning" href="#">{{ log.ticker }}</a></h2>
            {% endif %}

            &lt;!&ndash;<h2><a class="article-title text-info" href="#">{{ log.ticker }}</a></h2> &ndash;&gt;
            &lt;!&ndash;<a class="mr-2 text-info" href="#">{{ log.user_id_id }} </a>&ndash;&gt;
            <div class="row mt-2">
                <div class="col-sm-4 pb-2">

                    <label class="text-info">Entry Date:</label>
                    <medium class="text-muted">{{ log.entrydate|date:'m/d/Y H:i A' }}</medium>

                </div>

                <div class="col-sm-4 pb-2">
                    <label class="text-info">Exit Date:</label>
                    <medium class="text-muted">{{ log.exitdate|date:'m/d/Y H:i A' }}</medium>
                </div>

                <div class="col-sm-4 pb-2">
                    <label class="text-info">Time Elapsed:</label>
                    <medium class="text-muted">{{ log.entrydate|timesince:log.exitdate }}</medium>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-4 pb-2">

                    <label class="text-info">Type:</label>
                    <medium class="text-muted">{{ log.type }}</medium>

                </div>

                <div class="col-sm-4 pb-2">
                    <label class="text-info">Industry:</label>
                    <medium class="text-muted">{{ log.industry }}</medium>
                </div>

                <div class="col-sm-4 pb-2">
                    <label class="text-info">Equity: $</label>
                    <medium class="text-muted">{{ log.equity }}</medium>
                </div>
            </div>


        </div>
        &lt;!&ndash;<h2><a class="article-title" href="#">{{ log.ticker }}</a></h2>&ndash;&gt;


        <div class="row">
            <div class="col-sm-9 pt-2 ">
                <div class="row mt-4">
                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">ENTRY PRICE</label>
                            <input id="stest" class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase"
                                   value={{ log.entryprice }} readonly/>
                        </div>
                    </div>

                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">POSITION</label>
                            <input id="sposition" class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value={{ log.position }} readonly/>
                        </div>
                    </div>

                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">STRATEGY</label>
                            <input id="strategy" class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value={{ log.strategy }} readonly/>
                        </div>
                    </div>

                </div>


                <div class="row mt-4">
                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">EXIT PRICE</label>
                            <input id="exitprice" class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value={{ log.exitprice }} readonly/>
                        </div>
                    </div>

                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">PnL</label>
                            <input id="pnl" class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value=${{ log.profit |floatformat:"2" }} readonly/>
                        </div>
                    </div>

                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">PERCENTAGE</label>
                            <input id="percentage" class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value={{ log.percentage |floatformat:"2" }}%
                            readonly/>
                        </div>
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">CUMM P/L</label>
                            <input class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value=${{ log.cummpl |floatformat:"2"}} readonly/>
                        </div>
                    </div>

                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">COMM FEE</label>
                            <input class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value={{ log.commissionfee }} readonly/>
                        </div>
                    </div>

                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">EXIT EQUITY</label>
                            <input class="form-input" type="text"
                                   style="text-transform:uppercase" value={{ log.exitvalue }} readonly/>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-3 pb-3">
                        <div class="form-group">
                            <label class="form-label-log text-primary">GAP % ENTRY</label>
                            <input class="form-input form-input-decimal" type="text"
                                   style="text-transform:uppercase" value={{ log.gapentry |floatformat:"2"}}% readonly/>
                        </div>
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-sm-9 pb-2">
                        <h4><a class="article-title text-info" href="#">Notes</a></h4>

                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                                  readonly>{{ log.notes }}</textarea>
                    </div>
                </div>

                {% if log.news %}
                <div class="row mt-2">
                    <div class="col-sm-9 pb-2"><h4><a class="article-title text-info" href="#">News</a></h4> <textarea
                            class="form-control" id="exampleFormControlTextarea2" rows="4"
                            readonly>{{ log.news }}</textarea>
                    </div>
                </div>
                {% endif %}

            </div>

            <div class="col-sm-3">

                <div class="sidebar-item">
                    <div class="card text-primary border-primary">
                        <div class="card-body">
                            <h5 class="card-title"> DETAILS</h5>

                            <div class="textfield-box pb-3">
                                <label class="mb-2" for="exampleTextfieldBox1">Industry</label>
                                <input aria-describedby="exampleTextfieldBox1Help" class="form-control"
                                       id="exampleTextfieldBox1" type="text" value={{ log.industry }} readonly>
                            </div>

                            <div class="textfield-box pb-3">
                                <label class="mb-2" for="exampleTextfieldBox1">Category</label>
                                <input aria-describedby="exampleTextfieldBox1Help" class="form-control"
                                       id="exampleTextfieldBox1" type="text" value={{ log.category }} readonly>
                            </div>

                            <div class="textfield-box pb-3">
                                <label class="mb-2" for="exampleTextfieldBox1">Float</label>
                                <input aria-describedby="exampleTextfieldBox1Help" class="form-control"
                                       id="exampleTextfieldBox1" type="text" value={{ log.float }}M readonly>
                            </div>

                            <div class="textfield-box pb-3">
                                <label class="mb-2" for="exampleTextfieldBox1">Prev Day High</label>
                                <input aria-describedby="exampleTextfieldBox1Help" class="form-control"
                                       id="exampleTextfieldBox1" type="text" value={{ log.prevdayhigh }} readonly>
                            </div>

                            <div class="textfield-box pb-3">
                                <label class="mb-2" for="exampleTextfieldBox1">Prev Day Low</label>
                                <input aria-describedby="exampleTextfieldBox1Help" class="form-control"
                                       id="exampleTextfieldBox1" type="text" value={{ log.prevdaylow }} readonly>
                            </div>

                            <div class="textfield-box pb-3">
                                <label class="mb-2" for="exampleTextfieldBox1">Prev Day Close</label>
                                <input aria-describedby="exampleTextfieldBox1Help" class="form-control"
                                       id="exampleTextfieldBox1" type="text" value={{ log.prevdayclose }} readonly>
                            </div>

                            &lt;!&ndash;  <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Item 1</li>
                                  <li class="list-group-item">Item 2</li>
                                  <li class="list-group-item">Item 3</li>
                              </ul>&ndash;&gt;
                        </div>
                    </div>
                </div>


            </div>
        </div>


        &lt;!&ndash;   <p class="article-content">{{ log.notes }}</p>&ndash;&gt;


    </div>


</article>-->
{% endfor %}


<!--
<article>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="title-section">
                    <h1>Basic Sticky Sidebar with Bootstrap 4</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">

                <div class="content-section">
                    <h2>Content Section</h2>
                </div>
            </div>
            <div class="col-5">

                <div class="sidebar-item">
                    <div class="make-me-sticky">
                        <h3>Item 1</h3>
                    </div>
                </div>


            </div>
        </div>
    </div>
-->
<script>
 $(function() {
    $(".fold-table tr.view").on("click", function() {
        if ($(this).hasClass("open")) {
            $(this).removeClass("open").next(".fold").removeClass("open");
        } else {
            $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
            $(this).addClass("open").next(".fold").addClass("open");
        }
    });
});


$('#datepicker').datepicker({
    weekStart: 1,
    autoclose: true,
    todayHighlight: true,
});


$('#datepickerend').datepicker({
    weekStart: 1,
    autoclose: true,
    todayHighlight: true,
});

function isEmpty(obj) {
    for (var key in obj) {
        if (obj.hasOwnProperty(key))
            return false;
    }
    return true;
}

$('#mysearch').on('click', function() {
    console.log('SEARCH TEST');
    $.getJSON('{% url "search_filter" %}', {
                ticker: $('#myticker').val().toUpperCase(),
                datestart: $('#datepicker').val(),
                dateend: $('#datepickerend').val()
            },
            function(data) {
                console.log('getJSON request succeeded!');
                console.log(data.data.length);
                if (data.data.length > 0) {
                    $("#tablelogs tbody tr").detach();
                    var addNews = '';
                    var myTableFold = '';
                    var count = 0;
                    var trfolds = 'trfolds'
                    var tdfolders = 'tdfolders'

                    for (var i = 0; i < data.data.length; i++) {
                        var date1 = new Date(data.data[i][2]);
                        var date2 = new Date(data.data[i][4]);


                        dtentryformatted = [appendLeadingZeroes(date1.getMonth() + 1),
                            date1.getDate(),
                            date1.getFullYear()
                        ].join('/') + ' ' + [appendLeadingZeroes(date1.getHours()),
                            appendLeadingZeroes(date1.getMinutes())
                        ].join(':');

                        dtexitformatted = [appendLeadingZeroes(date2.getMonth() + 1),
                            date2.getDate(),
                            date2.getFullYear()
                        ].join('/') + ' ' + [appendLeadingZeroes(date2.getHours()),
                            appendLeadingZeroes(date2.getMinutes())
                        ].join(':');

                        count = i + 1;
                        trfolds = 'trfolds' + count
                        tdfolders = 'tdfolders' + count

                        var msec = date2 - date1;
                        var mins = Math.floor(msec / 60000);
                        var hrs = Math.floor(mins / 60);
                        var days = Math.floor(hrs / 24);
                        var yrs = Math.floor(days / 365);

                        myTableFold = '<table class="small-friendly mt-4">' +
                            '<thead> ' +
                            '<tr> ' +
                            '<th><span class="visible-small" title="Strategy">Strategy</span><span class="visible-big">Strategy</span></th> ' +
                            '<th><span class="visible-small" title="Company name">Chart Category</span><span class="visible-big">Chart Category</span></th>' +
                            '<th><span class="visible-small" title="Customer number">Float</span><span class="visible-big">Float</span></th>' +
                            '<th><span class="visible-small" title="Customer name">Prev Day Close</span><span class="visible-big">Prev Day Close</span></th>' +
                            '<th><span class="visible-small" title="Insurance number">Prev Day High</span><span class="visible-big">Prev Day High</span></th>' +
                            '<th><span class="visible-small" title="Strategy">Prev Day Low</span><span class="visible-big">Prev Day Low ' +
                            '</span></th>' +
                            '<th>Type</th>' +
                            '</tr> ' +
                            '</thead> ' +
                            '<tbody>' +
                            '<tr> ' +
                            '<td data-th="Strategy">' + data.data[i][16] + '</td>' +
                            '<td data-th="Chart Category">' + data.data[i][0] + '</td> ' +
                            '<td data-th="Float">' + data.data[i][6] + 'M</td> ' +
                            '<td data-th="Prev Day Close">' + data.data[i][12] + '</td> ' +
                            '<td data-th="Prev Day High">' + data.data[i][13] + '</td>' +
                            '<td data-th="Prev Day Low">' + data.data[i][14] + '</td> ' +
                            '<td data-th="Type"><span class="">' + data.data[i][18] + '</span></td> ' +
                            '</tr> ' +
                            '<tr> ' +
                            '<td data-th="Entry Date/Time">' + dtentryformatted + '</td> ' +
                            '<td data-th="Entry Price">' + data.data[i][3] + '</td> ' +
                            '<td data-th="Exit Price">' + data.data[i][5] + '</td> ' +
                            '<td data-th="Position">' + data.data[i][11] + '</td> ' +
                            '<td data-th="Percentage" class="per">' + data.data[i][22].toFixed(2) + '</td> ' +
                            '<td data-th="Gap % Entry - Prev Close" class="per">' + data.data[i][23].toFixed(2) + '</td>' +
                            '<td data-th="PnL"><span class="cur">' + data.data[i][20] + '</span></td>' +
                            '<td data-th="Exit Equity"><span class="cur">' + data.data[i][25] + '</span></td>' +
                            '<td data-th="Exit Date/Time"><span class="">' + dtexitformatted + '</span>' +
                            '</td>' +
                            '<td data-th="Time Elapsed"><span class=""> ' + days + ' days,' + hrs + ' hours, ' + mins + ' minutes </span></td>' +
                            '</tr> ' +
                            '</tbody> ' +
                            '</table>';

                        if (!isEmpty(data.data[i][9])) {
                            addNews = '<div class="row mt-2"><div class="col-sm-12"><h4><a class="article-title text-info" href="#">News</a></h4> <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"' + 'readonly>' +
                                data.data[i][9] + '</textarea>' + '</div></div>  ';
                        }

                        $('#tablelogs > tbody:last-child').append('<tr class="view"><td >' + data.data[i][17] + '</td><td>' + dtentryformatted + '</td><td class="cur">' + data.data[i][24].toFixed(2) + '</td><td>' + data.data[i][11] + '</td><td>' + data.data[i][8] + '</td><td>' + data.data[i][16] + '</td><td class="cur">' + data.data[i][21].toFixed(2) + '</td></tr>');
                        $('#tablelogs > tbody:last-child').append('<tr id=' + trfolds + ' class="fold"></tr>').attr("class", "fold");

                        $('#' + trfolds).append($('<td id=' + tdfolders + ' colspan="7"> </td>'));

                        $('#' + tdfolders).append($('<div id= dfolder' + count + '> <h3> ' + data.data[i][17] + '</h3> </div>').attr("class", "fold-content"));
                        $('#dfolder' + count).append($('<div class="row mt-2"><div class="col-sm-12"> <h4><a class="article-title text-info" href="#">Notes</a></h4><textarea class="form-control" id="exampleFormControlTextarea1" rows="6" readonly>' + data.data[i][10] + '</textarea>'));

                        if (!isEmpty(data.data[i][9])) {
                            $('#dfolder' + count).append($(addNews));
                        }

                        $('#dfolder' + count).append($(myTableFold));
                    }

                    $(".view").attr("onclick", "this.classList.toggle('open')");
                } else {

                    $("#tablelogs tbody tr").detach();
                    $('#tablelogs > tbody:last-child').append('<tr class"text-center"><td colspan="7" class"text-center"> NO RECORDS FOUND </td></tr>');

                }
            })
        .done(function() {
            console.log('getJSON request succeeded!');
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.log('getJSON request failed' + textStatus);
        });
});

$("#tablelogs tbody").delegate("tr", "click", function() {
    if ($(this).hasClass("open")) {
        $(".fold-table tr.view").removeClass("open").next(".fold").removeClass("open");
        $(this).addClass("open").next(".fold").addClass("open");
    } else {
        $(this).removeClass("open").next(".fold").removeClass("open");
    }
});

function appendLeadingZeroes(n) {
    if (n <= 9) {
        return "0" + n;
    }
    return n
}

</script>

{% endblock content %}